<header id="close-bar" class="flex width-full text-white justify-end close-bar">
    <button class="w-8 h-8 cursor-pointer bg-rose-300">-</button>
    <button class="w-8 h-8 cursor-pointer bg-rose-300">+</button>
    <button class="w-8 h-8 cursor-pointer bg-rose-300">x</button>
</header>
<style>
    #close-bar {
        -webkit-app-region: drag;
    }

    button {
        -webkit-app-region: no-drag;
    }
</style>