---
import MountainLogo from "./MountainLogo.astro"
---

<main class="text-center  h-full flex content-center justify-center flex-col flex-wrap">
    <MountainLogo width="200" height="200" />
    <h1 class="">Welcome to Zenith</hjson>
</main>