---
import "hotkeypad/reset.css";
import "hotkeypad/index.css";
---

<div id="hotkeypad"></div>

<script>
  import HotKeyPad from "hotkeypad";
  const hotkeypad = new HotKeyPad();
  import { isFileOpen } from '../stores/fileStore'

  hotkeypad.setCommands([
    {
      section: "Actions",
      id: "new",
      title: "New file",
      icon: `
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-file"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /></svg>
                `,
      hotkey: `${hotkeypad.activationKey} + O`,
      handler: () => {
        isFileOpen.set(isFileOpen.value ? false : true);
      },
    },
  ]);

</script>

<style>
  #hotkeypad {
    --hotkeypad-bg-container: #24273a; /* background color of the container */
    --hotkeypad-bg-kbd: #6e738d; /* background color of the keyboard */
    --hotkeypad-bg-backdrop: #ee99a0; /* background color of the backdrop */
    --hotkeypad-bg-item-hover: #6e738d; /* background color of the hovered command */
    --hotkeypad-border-container: #181926; /* border color of the container */
    --hotkeypad-border-container-hover: #181926; /* border color of command shortcut */
    --hotkeypad-fg-muted: #cad3f5; /* text */
  }
</style>
