---
import "hotkeypad/reset.css";
import "hotkeypad/index.css";
---

<div id="hotkeypad"></div>

<script>
  import HotKeyPad from "hotkeypad";
  import { isFileOpen } from '../stores/fileStore'
  const hotkeypad = new HotKeyPad();

  hotkeypad.setCommands([
    {
      section: "Actions",
      id: "new",
      title: "New file",
      icon: `
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-printer"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" /><path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" /><path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z" /></svg>
                `,
      hotkey: `${hotkeypad.activationKey} + P`,
      handler: () => {
        isFileOpen.set(isFileOpen.value ? false : true);
      },
    },
  ]);

  // You can also add a listener to the open and close events
  window.addEventListener("hotkeypad:open", () => {
    console.log("HotKeyPad is open");
  });

  window.addEventListener("hotkeypad:close", () => {
    console.log("HotKeyPad is closed");
  });
</script>

<style>
  #hotkeypad {
    --hotkeypad-bg-container: #24273a; /* background color of the container */
    --hotkeypad-bg-kbd: #6e738d; /* background color of the keyboard */
    --hotkeypad-bg-backdrop: #ee99a0; /* background color of the backdrop */
    --hotkeypad-bg-item-hover: #6e738d; /* background color of the hovered command */
    --hotkeypad-border-container: #181926; /* border color of the container */
    --hotkeypad-border-container-hover: #181926; /* border color of command shortcut */
    --hotkeypad-fg-muted: #cad3f5; /* text */
  }
</style>
